<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="VerboseLayout" value="[PID:${processid:padCharacter=0:padding=5}:${threadid:padCharacter=0:padding=3} ${date:universalTime=false:format=yyyy\.MM\.dd HH\:mm\:ss\.fff} ${level:padding=-5:uppercase=true} ${logger:padding=-20:fixedLength=true}] ${message}${onexception:${newline}EXCEPTION OCCURRED:${newline}${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=20}}"/>
  <variable name="ConsoleLayout" value="[${processid:padCharacter=0:padding=5},${threadid:padCharacter=0:padding=2},${date:universalTime=false:format=HH\:mm\:ss\.fff}] ${message}${onexception:${newline}EXCEPTION OCCURRED:${newline}${exception:format=message}}"/>
  <variable name="LogFileNameBase" value="${logDirectory}/${shortdate:universalTime=false}"/>

  <targets>
    <target name="asyncWrapper" xsi:Type="AsyncWrapper" overflowAction="Grow">
      <target name="fileLog" xsi:type="File" fileName="${LogFileNameBase}.log" layout="${VerboseLayout}"/>
    </target>

    <target name="asyncWrapper" xsi:Type="AsyncWrapper" overflowAction="Grow">
      <target name="errorFileLog" xsi:type="FilteringWrapper" condition="length('${exception}')>0 || level==LogLevel.Error || level==LogLevel.Fatal">
        <target xsi:type="File" fileName="${LogFileNameBase}-err.log" layout="${VerboseLayout}"/>
      </target>
    </target>

    <target name="asyncWrapper" xsi:Type="AsyncWrapper" overflowAction="Grow">
      <target name="coloredConsoleLog" xsi:type="ColoredConsole" layout="${ConsoleLayout}" useDefaultRowHighlightingRules="true">
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="NoChange"/>
      </target>
    </target>

    <target name="asyncWrapper" xsi:Type="AsyncWrapper" overflowAction="Grow">
      <target name="plainConsoleLog" xsi:type="Console" layout="${ConsoleLayout}"/>
    </target>

    <target name="asyncWrapper" xsi:Type="AsyncWrapper" overflowAction="Grow">
      <target name="statsFileLog" xsi:type="File" fileName="${LogFileNameBase}-stats.csv" layout="${message}"/>
    </target>
  </targets>

  <rules>
    <!-- NLog level: Trace Debug Info Warn Error Fatal Off -->
    <!--<logger name="*" minlevel="Trace" writeTo="fileLog, errorFileLog"/>-->

    <logger name="*" minlevel="Trace" writeTo="coloredConsoleLog"/>
  </rules>
</nlog>